@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/vars';

.expression {
    &__clauses {
        padding-left: vars.$spacing--small;
        border-left: vars.$border-style;
        margin-bottom: vars.$spacing--small;
    }

    &__clause {
    }

    &__item,
    &__head {
        display: flex;
        align-items: center;
        gap: vars.$spacing--xsmall;
        padding-bottom: vars.$spacing--xsmall;
        margin-bottom: vars.$spacing--small;
    }

    &__head {
        padding-bottom: 0;
    }

    &__string {
        @include mixins.font-size(small);
        display: flex;
        align-items: center;
        gap: vars.$spacing--xsmall;
        flex-grow: 1;
        flex-wrap: wrap;
        @include mixins.min-width(lg) {
            flex-wrap: nowrap;
        }
    }

    &--clauses {
        // border: vars.$border-style;
        margin-bottom: vars.$spacing--small;
    }

    &--has-errors {
        border: 1px solid colors.$warning;
    }
}
