@use '@/styles/helpers.scss' as *;

.expression {
    &__clauses {
        padding-left: $spacing--small;
        border-left: $border-style;
        margin-bottom: $spacing--small;
    }

    &__clause {
    }

    &__item,
    &__head {
        display: flex;
        align-items: center;
        gap: $spacing--xsmall;
        padding-bottom: $spacing--xsmall;
        margin-bottom: $spacing--small;
    }

    &__head {
        padding-bottom: 0;
    }

    &__string {
        @include font-size(small);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $spacing--xsmall;
        flex-grow: 1;
    }

    &--clauses {
        // border: $border-style;
        margin-bottom: $spacing--small;
    }
}
