@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.custom-image {
    display: inline-grid;
    max-width: 100%;
    position: relative;

    &:hover,
    &--active {
        outline: 1px solid colors.$muted;
    }

    &__alt-text {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        opacity: 0.8;
        padding: vars.$spacing--xsmall;
        background: colors.$background;
        border-radius: vars.$border-radius;
        color: colors.$muted;
        input {
            color: colors.$text;
            margin-left: vars.$spacing--xsmall;
            flex-grow: 1;
            background-color: transparent;
        }
        &:focus {
            opacity: 0.9;
        }
    }

    &__remove {
        position: absolute;
        top: vars.$spacing--xsmall;
        right: vars.$spacing--xsmall;
    }
}
