@use '@/styles/_helpers' as *;

.minimap {
    $this: &;
    display: flex;
    height: calc(100vh - #{$header-height});

    &__title {
        @include font(base, bold);
        @include font-size(small, 1);
        margin-bottom: $spacing--small;
    }

    &__page {
        cursor: pointer;
        width: clamp(200px, 19vw, 300px);
        padding: $spacing--small $margin;

        &:not(:last-child) {
            border-right: $border-style;
        }

        &:hover,
        &:focus:focus-visible {
            background-color: color(neutral, light);
        }

        &--selected {
            &,
            &:hover,
            &:focus:focus-visible {
                background-color: color(neutral);
            }
        }
    }

    &__sub-title {
        $line-height: 1.3;
        @include font(base, normal);
        @include font-size(xsmall, $line-height);
        @include line-clamp(2);
        height: (1em * 2) * $line-height;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px;
        border: $border-style;
        background-color: $color-light;
        margin-bottom: 6px;

        @include min-width(md) {
            padding: 12px;
        }
    }

    &__icon {
        text-align: right;
        flex-shrink: 0;
        width: 20px;
    }
}
