@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.help {
    $this: &;
    @include mixins.font-size(small);
    color: colors.$color-muted;
    margin: vars.$spacing--xsmall 0;
    max-width: 500px;
}
