@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.input {
    $this: &;
    @include mixins.font-size(base);
    display: grid;
    width: 100%;
    border: vars.$border-style;
    background-color: colors.$light;
    position: relative;

    &:hover {
        border-color: shade(colors.get(neutral), 6%);

        #{$this}__label {
            color: shade(colors.$muted, 20%);
        }
    }

    &:focus-within {
        border-radius: 2px;
        border-color: colors.get(primary);
        box-shadow: 0 0 0 1px colors.get(primary);

        #{$this}__label {
            color: colors.$text;
        }
    }

    &__label {
        @include mixins.font-size(small);
        color: colors.$muted;
        padding: vars.$form-padding-y vars.$form-padding-x 3px;
        cursor: text;
    }

    &__input,
    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &__input:-webkit-autofill:focus {
        border-radius: 0;
        padding: 3px vars.$form-padding-x vars.$form-padding-y;
        background-color: transparent;
        min-width: 160px;
        @include mixins.input-placeholder {
            color: colors.get(neutral, base);
        }
    }

    &__input:-webkit-autofill {
        -webkit-background-clip: text; // Remove blue backgrunds in Chrome for saved passwords
    }

    &--dirty {
        &:before {
            content: 'Prøver å lagre ...';
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            position: absolute;
            top: 8px;
            right: 8px;
            animation: dirtyFadeIn 600ms vars.$ease-out-quart backwards;
            animation-delay: 1000ms;
            background: colors.$warning;
            color: colors.$light;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    &--header #{$this}__input {
        font-weight: bold;
    }

    &--hide-label:not(&--sentence) {
        border: none;
        &:focus-within {
            border-color: transparent;
            box-shadow: none;

            #{$this}__label {
                color: colors.$text;
            }
        }
        #{$this}__input {
            padding: 0;
        }
    }

    &--sentence {
        @include mixins.font-size(small);
        border: none;
        border-radius: vars.$border-radius;
        background-color: colors.get(neutral, xlight);
        padding: 4px 4px;
        height: 35px;
        width: auto;
        &:hover,
        &:focus {
            background-color: colors.get(neutral, light);
        }
        #{$this}__input {
            min-width: 0;
        }
    }

    &--hide-if-empty:not(:focus-within) #{$this}__input {
        height: calc(vars.$form-padding-y - 3px);
        padding: 0;
    }

    &--hide-if-empty:focus-within #{$this}__input {
        height: 50px;
        animation: inputFadeIn 200ms vars.$ease-out-quart both;
    }

    &--read-only {
        border: none;
        background: none;
        #{$this}__label {
            padding: 0 0 3px;
        }
        #{$this}__input {
            padding: 0;
        }
    }
}

@keyframes dirtyFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes inputFadeIn {
    from {
        height: calc(vars.$form-padding-y - 3px);
    }
}
