@use '@/styles/helpers.scss' as *;

.input {
    $this: &;
    @include font-size(base);
    display: grid;
    width: 100%;
    border: $border-style;
    background-color: $color-light;

    &:hover {
        border-color: shade(color(neutral), 6%);

        #{$this}__label {
            color: shade($color-muted, 20%);
        }
    }

    &:focus-within {
        border-radius: 2px;
        border-color: color(primary);
        box-shadow: 0 0 0 1px color(primary);

        #{$this}__label {
            color: $color-text;
        }
    }

    &__label {
        @include font-size(small);
        color: $color-muted;
        padding: $form-padding-y $form-padding-x 3px;
    }

    &__input {
        border-radius: 0;
        padding: 3px $form-padding-x $form-padding-y;
        background-color: transparent;

        @include input-placeholder {
            color: $color-muted;
        }
    }

    &__input:-webkit-autofill {
        -webkit-background-clip: text; // Remove blue backgrunds in Chrome for saved passwords
    }

    &--dirty {
        background-color: rgb(255, 107, 181, 0.4);
    }

    &--header #{$this}__input {
        font-weight: bold;
    }

    &--sentence {
        @include font-size(small);
        border: none;
        border-radius: $border-radius;
        background-color: color(neutral, xlight);
        padding: 4px 4px;
        height: 35px;
        width: auto;
        &:hover,
        &:focus {
            background-color: color(neutral, light);
        }
        #{$this}__input {
            min-width: 0;
        }
    }
}
