@use '@/styles/1_settings/vars';

.button-bar {
    $this: &;
    display: flex;
    margin-top: vars.$spacing--small;
    gap: vars.$spacing--xsmall;
    &--list {
        flex-direction: column;
        & > * {
            flex-basis: 100%;
        }
    }

    &--margins {
        margin-bottom: vars.$spacing--xsmall;
    }
}

@keyframes enter {
    0% {
        clip-path: inset(0 0 100% 0);
        box-shadow: none;
        transform: translateY(70%);
    }

    30% {
        box-shadow: none;
    }

    to {
        clip-path: inset(-50px -50px -50px -50px);
        box-shadow: vars.$shadow;
    }
}
