// Unica77
/*
@font-face {
    font-family: 'Your-Font';
    src: url('../assets/fonts/your-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    */
