@use '@/styles/_helpers' as *;

.message {
    $this: &;
    background-color: $color-info;
    border-radius: $border-radius;
    padding: $spacing--xsmall;
    text-align: left;
    @include font-size(small);
    animation: enter 400ms $ease-in-out-quint--custom both;
    &__title {
        @include font(base, normal);
        @include font-size(base);
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: $spacing--xsmall;
        margin-bottom: 4px;
    }
}

@keyframes enter {
    0% {
        clip-path: inset(0 0 100% 0);
        box-shadow: none;
        transform: translateY(70%);
    }

    30% {
        box-shadow: none;
    }

    to {
        clip-path: inset(-50px -50px -50px -50px);
        box-shadow: $shadow;
    }
}
