@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/vars';

.message {
    $this: &;
    background-color: colors.$info;
    border-radius: vars.$border-radius;
    padding: 16px 18px;
    text-align: left;
    @include mixins.font-size(small);
    animation: enter 400ms vars.$ease-in-out-quint--custom backwards;
    &__title {
        @include mixins.font(base, normal);
        @include mixins.font-size(base);
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: vars.$spacing--xsmall;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__icon {
        flex-shrink: 0;
    }

    &--subtle {
        background-color: colors.get(primary, light);
        border: 1px solid colors.get(primary, base);
        #{$this}__title {
            @include mixins.font-size(small);
            font-weight: normal;
        }
    }
}

@keyframes enter {
    0% {
        clip-path: inset(0 0 100% 0);
        transform: translateY(70%);
    }

    to {
        clip-path: inset(-50px -50px -50px -50px);
    }
}
