@use 'sass:map';
@use 'sass:color';

// Colors
@function get($color-name, $color-variant: 'base') {
    @return map.get(map.get($colors, $color-name), $color-variant);
}

$colors: (
    primary: (
        // base: #3a8ff4,
        base: color.adjust(#3a8ff4, $lightness: -8%),
        light: color.mix(#3a8ff4, #f8f8f8, 20%),
    ),
    neutral: (
        xlight: #f8f8f8,
        light: color.mix(black, #f8f8f8, 3%),
        base: #e7e7e7,
        dark: #878787,
        xdark: #111111,
    ),
);

$color-light: #ffffff;
$color-dark: get(neutral, xdark);

// Specific colors.
// Variables are there to be reused, so being  to specific or creating to many will create the opposite situation
$color-background: get(neutral, xlight);
$color-backdrop: rgba(white, 0.8);

$color-text: $color-dark;
$color-muted: get(neutral, dark);

$color-notification: #f06565;
$color-info: #fcdb81;

$color-links: $color-text;
$color-links--hover: $color-text;

$color-outline: rgba(#99d6ea, 0.6);
$color-backdrop: get(primary, light);

$color-warning: #f06565;
$color-success: #81d459;
