@use 'sass:map';
@use 'sass:color';

// Colors
@function get($name, $variant: 'base') {
    @return map.get(map.get($colors, $name), $variant);
}

$colors: (
    primary: (
        // base: #3a8ff4,
        base: #89bad6,
        dark: #003045,
        light: #ebf4fa,
        xlight: color.adjust(#ebf4fa, $lightness: 4.2%),
    ),
    neutral: (
        xlight: #f8f8f8,
        light: #f3f3f3,
        // color.mix(black, #f8f8f8, 2%),
        base: #e7e7e7,
        dark: #878787,
        xdark: #111111,
    ),
    neutral-transparent: (
        xlight: rgba(0, 0, 0, 0.027),
        // Equivalent to #f8f8f8
        light: rgba(0, 0, 0, 0.02754),
    ),
);

$light: #ffffff;
$dark: get(neutral, xdark);

// Specific colors.
// Variables are there to be reused, so being  to specific or creating to many will create the opposite situation
$background: get(neutral, xlight);
$backdrop: rgba(white, 0.8);

$text: $dark;
$muted: get(neutral, dark);

$notification: #f06565;
$info: #fcdb81;

$links: $text;
$links--hover: $text;

$outline: rgba(#99d6ea, 0.6);
$backdrop: get(primary, light);

$warning: #f06565;
$success: #81d459;
