@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.table-editor {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include mixins.font(base, normal);
    @include mixins.font-size(small);

    &__table-wrapper {
        // overflow-x: auto;
        background-color: colors.$light;
        padding: vars.$border-width;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    &__table th,
    &__table td {
        border: vars.$border-style;
        vertical-align: top;
        padding: 0;
        background-color: colors.$light;
    }

    &__cell {
        position: relative;
        min-height: 2em;
        background-color: colors.$light;

        &--heading {
            background: #f6f8fb;
        }

        &--selected {
            outline: 2px solid colors.get(primary);
            outline-offset: -1px;
            z-index: vars.$level-2;
        }
    }

    &__cell-actions {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        gap: 0.25rem;
    }

    &__cell-content {
        min-height: 2em;
        padding: 14px;
        text-align: left;

        &:focus {
            outline: none;
        }

        &--editable {
            cursor: text;
        }

        p {
            margin: 0 0 0.35rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__modal {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
