@use 'sass:color';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.dashboard {
    $this: &;
    @include mixins.font-size(base);
    padding: vars.$spacing;

    &__section {
        display: flex;
        flex-direction: column;
        gap: vars.$spacing--small;
        margin-bottom: vars.$spacing--small;
    }

    &__section-title {
        @include mixins.font(base, medium);
        @include mixins.font-size(heading);
    }
}
