@use 'sass:color';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.dashboard {
    $this: &;
    @include mixins.font-size(base);
    padding: vars.$spacing;

    &__section {
        margin-bottom: vars.$spacing;

        &:not(:first-child) {
            border-top: vars.$border-style;
            padding-top: vars.$spacing;
        }
    }

    &__section-title {
        @include mixins.font(base, medium);
        @include mixins.font-size(heading);
        margin-bottom: vars.$spacing;
    }
}
