@use '@/styles/helpers.scss' as *;

.content {
    $this: &;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'header header header'
        'main main main'
        'full full full'
        'aside aside aside';
    width: 100%;
    margin-bottom: $spacing--small;
    @include min-width(lg) {
        grid-template-areas:
            'header header header'
            'main main aside'
            'full full full';
    }
    &__header {
        grid-area: header;
        display: flex;
        align-items: center;
        gap: $spacing--xsmall;
        padding: $spacing--xsmall;
    }

    &__header-icon {
        color: $color-muted;
    }

    &__main,
    &__aside,
    &__inline-main {
        display: flex;
        flex-direction: column;
        gap: $spacing--small;
        padding: $spacing--small;
    }

    &__main {
        grid-area: main;
        border: $border-style;
        background-color: $color-light;
        &--full {
            grid-area: full;
        }
    }

    &__aside {
        grid-area: aside;
        border: $border-style;
        border-top: none;
        background-color: $color-light;

        @include min-width(lg) {
            border-top: $border-style;
            border-left: none;
        }
    }

    &__inline-main {
        padding: 0;
    }

    &__title {
        @include font-size(small);
        color: $color-muted;
        font-weight: normal;
        flex-grow: 2;
    }

    &__sub-title {
        @include font-size(small);
        color: $color-muted;
        font-weight: normal;
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__grid {
        display: flex;
        gap: $spacing--small;
    }

    &__option {
        position: relative;
        display: flex;
        gap: 0;
    }

    &__option:not(:first-child) > * {
        border-top: none;
    }

    &__option-actions {
        position: absolute;
        top: $spacing--small;
        right: $spacing--small;
    }

    &__field-list > *:not(:first-child) {
        border-top: none;
    }
}
