@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.content {
    $this: &;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'header header header'
        'main main main'
        'full full full'
        'aside aside aside';
    width: 100%;
    //background-color: colors.get(neutral, xlight);
    border-top: vars.$border-style--primary;
    padding-top: vars.$spacing--small;
    //border-radius: vars.$border-radius;
    margin-bottom: vars.$spacing--xsmall;

    @include mixins.min-width(lg) {
        grid-template-areas:
            'header header header'
            'main main aside'
            'full full full';
    }

    &__header {
        grid-area: header;
        display: flex;
        align-items: center;
        gap: vars.$spacing--xsmall;
        padding: vars.$spacing--small 0;
        padding-top: calc(vars.$spacing--small - 6px);
    }

    &__header-icon {
        color: colors.$muted;
    }

    &__main,
    &__aside,
    &__inline-main {
        display: flex;
        flex-direction: column;
        gap: vars.$spacing--small;
        padding: vars.$spacing--small 0;
    }

    &__main {
        grid-area: main;
        &--full {
            grid-area: full;
        }
    }

    &__aside {
        grid-area: aside;
        padding-left: vars.$margin;
    }

    &__inline-main {
        padding: 0;
    }

    &__title {
        @include mixins.font-size(small);
        font-weight: normal;
        flex-grow: 2;
    }

    &__sub-title {
        @include mixins.font-size(small);
        color: colors.$muted;
        font-weight: normal;
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__grid {
        display: flex;
        gap: vars.$spacing--small;
    }

    &__option {
        position: relative;
        display: flex;
        gap: 0;
    }

    &__option:not(:first-child) > * {
        border-top: none;
    }

    &__option-actions {
        position: absolute;
        top: vars.$spacing--small;
        right: vars.$spacing--small;
    }

    &__field-list > *:not(:first-child) {
        border-top: none;
    }
}
