worker_processes 1;

events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    server {
        listen ${PORT};

        # Serve static files
        location / {
            root /usr/share/nginx/html;
            try_files $uri $uri/ /index.html;
        }

        # Proxy /api requests to Node.js server
        location /api/ {
            proxy_pass http://localhost:3000/;
        }
    }
}
