@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/vars';

.editor {
    $this: &;
    @include mixins.font-size(base);
    display: grid;
    width: 100%;
    border: vars.$border-style;
    background-color: colors.$light;

    --delay: 440ms;
    $transition: 320ms vars.$ease-out-quart;

    &:hover {
        border-color: colors.shade(colors.get(neutral), 6%);

        #{$this}__label {
            color: shade(colors.$muted, 20%);
        }
    }

    &__button-label {
        @include mixins.font-size(small);
        color: colors.$muted;
        width: 100%;
        border: vars.$border-style;
        padding: vars.$form-padding-y vars.$form-padding-x;
        background-color: colors.$light;
        text-align: left;
        cursor: text;
        &:hover {
            border-color: colors.shade(colors.get(neutral), 6%);
            color: colors.shade(colors.$muted, 20%);
        }
    }

    &__label {
        @include mixins.font-size(small);
        position: relative;
        z-index: 2;
        font-weight: normal;
        color: colors.$muted;
        padding: vars.$form-padding-y vars.$form-padding-x 0;

        border-bottom: vars.$border-style;
        border-color: transparent;
        background-color: colors.$light;

        transition:
            padding $transition,
            border-color $transition;

        transition-delay: var(--delay);
    }

    &__input {
        border-radius: 0;
        padding: 8px vars.$form-padding-x vars.$form-padding-y;
        background-color: transparent;

        @include mixins.input-placeholder {
            color: colors.$muted;
        }

        &--empty:not(:focus-within) {
            // TODO: Improve empty styling
        }
    }

    &__menu {
        display: flex;
        height: 54px;
        max-height: 54px;
        padding: 0;
        border-bottom: vars.$border-style;
        z-index: vars.$level-1;

        opacity: 0;
        max-height: 0px;
        border-color: transparent;
        overflow: hidden;

        transition:
            opacity $transition,
            max-height $transition,
            border-color $transition;

        transition-delay: var(--delay);
    }

    &__control {
        @include mixins.font-size(small);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 vars.$form-padding-x;
        min-width: 54px;

        &--active {
            background-color: colors.get(neutral);
        }
    }

    &__separator {
        border: 0;
        margin: 0 4px;
        padding: 0;
        border-right: vars.$border-style;
    }

    &:focus-within {
        border-radius: 2px;
        border-color: colors.get(primary);
        box-shadow: 0 0 0 1px colors.get(primary);

        --delay: 0ms;

        #{$this}__label {
            color: colors.$text;
            padding-bottom: vars.$form-padding-y;
            border-color: rgba(black, 0.075);
        }

        #{$this}__menu {
            opacity: 1;
            max-height: 54px;
            border-color: rgba(black, 0.075);
            overflow: visible;
        }
    }

    :global(.tiptap) {
        outline: 0;

        :first-child {
            margin-top: 0;
        }

        ul,
        ol {
            list-style: circle;
            padding: 0 0 0 1.1rem;
            margin: 1rem 0;

            li p {
                margin: 0;
            }
        }

        ul li {
            list-style: disc;
            padding-left: 0.3rem;
        }

        ol {
            padding-left: 2rem;

            li {
                list-style: decimal;
                padding-left: 0;
            }
        }

        h1,
        h2,
        h3,
        p {
            text-wrap: pretty;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        h1 {
            @include mixins.font-size(title);
        }

        h2 {
            @include mixins.font-size(sub-title);
        }

        h3 {
            @include mixins.font-size(heading);
        }
    }

    &--read-only {
        border: none;
        background: none;
        #{$this}__label {
            padding: 0 0 3px;
        }
        #{$this}__input {
            padding: 0;
        }
    }
}

@keyframes menuFadeIn {
    from {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
}
