@use 'sass:color';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.wizard-list {
    display: grid;

    &__item {
        @include mixins.font-size(base);
        $padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px $padding;
        margin-left: -($padding);
        margin-right: -($padding);
        background-color: transparent;
        border-radius: vars.$border-radius;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, light);
        }

        &--active {
            background-color: colors.get(primary, light);
        }

        &--placeholder {
            border: vars.$border-style--weak;
            background-color: transparent;
            color: colors.$muted;

            &:hover,
            &:focus:focus-visible {
                background-color: transparent;
            }
        }
    }

    &__label {
        flex-grow: 1;
        text-align: left;
    }

    &__tag {
        @include mixins.font(base, normal);
        font-size: 10px;
        display: inline-block;
        background-color: colors.$light;
        color: colors.$text;
        border: vars.$border-style;
        border-radius: 4px;
        padding: 3px 5px;
    }
}
