@use '@/styles/helpers.scss' as *;

.dropdown {
    $this: &;
    display: block;
    width: 100%;

    &__trigger {
        @include font-size(base);
        position: relative;
        display: grid;
        border: $border-style;
        text-align: left;
        width: 100%;
        background-color: $color-light;

        &:hover {
            border-color: shade(color(neutral), 6%);

            #{$this}__label {
                color: shade($color-muted, 20%);
            }
        }

        &--expanded {
            z-index: $level-3 + 1;

            border-radius: 2px;
            box-shadow: 0 0 0 1px color(primary);

            &,
            &:hover {
                border-color: color(primary);
            }

            #{$this}__label {
                color: $color-text;
            }
        }

        &--iconOnly {
            border: 1px solid red;
        }
    }

    &__label {
        @include font-size(small);
        color: $color-muted;
        padding: $form-padding-y $form-padding-x 3px;
    }

    &__value {
        border-radius: 0;
        padding: $form-padding-y $form-padding-x $form-padding-y;
        background-color: transparent;

        @include input-placeholder {
            color: $color-muted;
        }
    }

    &__icon {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        height: 100%;
        padding-right: $form-padding-x;
    }

    &__animation {
        position: relative;

        &--expanded {
            z-index: $level-3;
        }
    }

    &__options {
        @include font-size(small);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        color: $color-text;
        border: $border-style;
        border-radius: 2px;
        background-color: $color-light;

        max-height: min(50vh, 600px);
        overflow-x: hidden;
        overflow-y: auto;

        @include overflow-scroll;
        overscroll-behavior: contain;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        outline: 0;
        z-index: 2;
        width: 100%;
        min-width: fit-content;
        box-shadow: 0 6px 12px rgba(black, 0.05);

        @include entering {
            animation: enter 300ms $ease-out-quart both;
        }

        @include exiting {
            animation: exit 300ms $ease-in-out-quint--custom forwards;
        }

        &--left {
            transform-origin: left center;
        }

        &--right {
            transform-origin: right center;
            left: auto;
            right: 0;
        }

        &--above {
            margin-top: 0;
            top: auto;
            bottom: 45px;
        }
    }

    &__option {
        @include font-size(small);
        white-space: nowrap;
        text-align: left;
        padding: $form-padding-y $form-padding-x;

        &:not(:last-child) {
            border-bottom: $border-style--weak;
        }

        &:hover,
        &:focus:focus-visible,
        &--selected {
            color: $color-text;
            background-color: color(neutral);
        }

        &--delete,
        &--delete:hover,
        &--delete:focus:focus-visible {
            color: $color-warning;
        }
    }

    &--simple,
    &--sentence,
    &--iconOnly {
        width: fit-content;

        #{$this}__trigger {
            @include font-size(small);
            display: flex;
            align-items: center;
            border: none;
            width: auto;
            height: 100%;
        }

        #{$this}__value {
            padding: 0 20px 0 6px;
        }

        #{$this}__icon {
            padding: 0;
        }
    }

    &--sentence {
        #{$this}__trigger {
            @include font-size(small);
            border-radius: $border-radius;
            background-color: color(neutral, xlight);
            padding: 4px 4px;
            height: 35px;
        }

        #{$this}__trigger:hover,
        #{$this}__trigger:focus {
            background-color: color(neutral, light);
        }

        #{$this}__label {
            color: color(neutral, light);
        }

        #{$this}__value {
            max-width: 250px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 24px 0 6px;
        }

        #{$this}__icon {
            padding-right: 8px;
        }
    }

    &--iconOnly {
        #{$this}__trigger {
            justify-content: center;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: color(neutral, xlight);
        }

        #{$this}__trigger:hover,
        #{$this}__trigger:focus {
            background-color: color(neutral, light);
        }

        #{$this}__icon {
            position: static;
        }

        #{$this}__wrapper {
            top: $spacing--xsmall;
        }

        #{$this}__wrapper--above {
            top: auto;
            bottom: calc(35px + $spacing--xsmall);
        }
    }
}

@keyframes enter {
    from {
        box-shadow: 0 0 0 rgba(black, 0);
        clip-path: inset(-20px -20px 100% -20px);
    }

    to {
        clip-path: inset(-20px -20px -20px -20px);
    }
}

@keyframes exit {
    from {
        clip-path: inset(-20px -20px -20px -20px);
    }

    to {
        box-shadow: 0 0 0 rgba(black, 0);
        clip-path: inset(-20px -20px 100% -20px);
    }
}
