@use '@/styles/_helpers' as *;

.panel {
    $this: &;

    &__panel {
        position: fixed;
        display: flex;
        gap: $spacing--xsmall;
        flex-direction: column;
        right: 0;
        top: $header-height;
        bottom: 0;
        width: $panel-width;
        z-index: $level-3 - 1;
        // border-left: $border-style;
        background-color: color(neutral, xlight);
        box-shadow: $shadow;
        overflow: auto;

        @include entering {
            animation: enter 500ms $ease-out-quart backwards;
        }

        @include exiting {
            animation: exit 500ms $ease-in-out-quint--custom forwards;
        }

        outline: 0;
    }

    &__content {
        padding: $margin;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        border-bottom: $border-style;
        background-color: $color-light;
        flex-shrink: 0;
    }

    &__title {
        @include font(base, normal);
        @include font-size(base);
        padding: 0 $margin;
    }

    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        padding: 0 $margin;
    }

    &__backdrop {
        position: fixed;
        top: $header-height;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $level-3;
        background-color: rgba(white, 0.4);

        @include entering {
            animation: fade-in 500ms $ease-out-quart backwards;
        }

        @include exiting {
            animation: fade-out 500ms $ease-in-out-quint--custom forwards;
        }
    }
}

@keyframes enter {
    from {
        transform: translateX(100%);
    }
}

@keyframes exit {
    to {
        transform: translateX(100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}
