@use "../1_settings/colors";
@use "../1_settings/mixins";

body {
    // Type
    @include mixins.font(base, normal);
    @include mixins.font-size(base);
    position: relative;

    color: colors.$color-text;
    font-style: normal;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    // font-feature-settings: 'ss03' 1;

    background-color: colors.$color-background;

    &.block-scrolling {
        overflow: hidden;
        overscroll-behavior: contain;
    }

    &:has(.overlay) {
        overflow: hidden;
        overscroll-behavior: contain;
    }
}
