:root {
    // Spacings
    --spacing: 20px;
    --spacing--small: 15px;
    --spacing--large: 40px;
    --margin: 15px;
    --gutter: 20px;

    --header-height: 60px;
    --menu-width: 100%;

    @include min-width(md) {
        --spacing: 30px;
        --spacing--small: 20px;
        --gutter: 40px;
        --menu-width: 440px;
    }

    @include min-width(lg) {
        --spacing: 40px;
        --spacing--large: 80px;
    }
}
