@use '../1_settings/mixins';

h1,
h2,
h3 {
    // @include mixins.hyphens;
    @include mixins.font(base, bold);
    text-wrap: pretty;
    margin: 0;
}

h1 {
    @include mixins.font-size(title);
}

h2 {
    @include mixins.font-size(sub-title);
}

h3 {
    @include mixins.font-size(base);
}

p {
    margin: 0;
}

strong {
    font: inherit;
    font-weight: bold;
}

em {
    font: inherit;
    font-weight: inherit;
    font-style: italic;
}

th,
td {
    text-wrap: balance;
}
