@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/vars';

.header {
    $this: &;
    @include mixins.font-size(base);
    position: relative;
    display: flex;
    align-items: center;
    gap: vars.$spacing--xsmall;
    height: vars.$header-height;
    // padding-left: $margin;
    padding-right: vars.$margin;
    z-index: vars.$level-4;

    border-bottom: vars.$border-style;
    background-color: colors.$light;

    &__logo {
        height: calc(vars.$header-height - vars.$spacing--small);
        &:first-child {
            margin-left: vars.$spacing--small;
        }
    }

    &__name {
        @include mixins.font-size(base);
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 vars.$spacing--small 1px; // 1px = Optical centering
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        gap: vars.$spacing--small;
    }

    &--open {
        position: sticky;
        top: 0;
    }
}
