@use '@/styles/_helpers' as *;

.header {
    $this: &;
    @include font-size(base);
    position: relative;
    display: flex;
    align-items: center;
    height: $header-height;
    // padding-left: $margin;
    padding-right: $margin;
    z-index: $level-3;

    border-bottom: $border-style;
    background-color: $color-light;

    &__name {
        @include font-size(base);
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 $spacing--small 1px; // 1px = Optical centering
    }

    &__actions {
        margin-left: auto;
    }

    &--open {
        position: sticky;
        top: 0;
    }
}
