@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.error-wrapper {
    display: grid;
    gap: vars.$spacing--xsmall / 2;
    width: 100%;

    &__icon {
        flex-shrink: 0;
    }

    &__errors {
        @include mixins.font-size(small);
        background-color: colors.$warning;
        color: colors.$light;
        padding: vars.$spacing--xsmall;
        display: flex;
        gap: vars.$spacing--xsmall;
    }

    &__list {
        display: grid;
        gap: vars.$spacing--small;
    }

    &__wrapped {
        &--has-errors {
            border: 1px dashed colors.$warning;
            padding: vars.$spacing--xsmall;
        }
    }
}
