@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.error-wrapper {
    width: 100%;

    &__icon {
        flex-shrink: 0;
    }

    &__errors {
        @include mixins.font-size(small);
        background-color: colors.$info;
        color: colors.$text;
        padding: vars.$spacing--xsmall;
        border-top-left-radius: vars.$spacing--xsmall;
        border-top-right-radius: vars.$spacing--xsmall;
        display: flex;
        gap: vars.$spacing--xsmall;
    }

    &__list {
        display: grid;
        gap: vars.$spacing--small;
    }

    &__wrapped {
        &--has-errors {
            border: 1px dashed colors.$info;
            border-top-width: 0;
            padding: vars.$spacing--xsmall;
            border-bottom-left-radius: vars.$spacing--xsmall;
            border-bottom-right-radius: vars.$spacing--xsmall;
        }
    }
}
