@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/vars';

.form {
    $this: &;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: vars.$spacing--small;
    }

    &__split {
        @include mixins.min-width(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: vars.$gutter;
            width: 100%;
        }
    }
}
