@use '@/styles/helpers.scss' as *;

.form {
    $this: &;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: $spacing--small;
    }

    &__split {
        @include min-width(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $gutter;
            width: 100%;
        }
    }
}
