@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.button {
    $this: &;
    @include mixins.font-size(base);
    display: inline-flex;
    padding: 14px 24px;
    border-radius: vars.$border-radius;
    background-color: colors.get(neutral, xlight);
    align-items: center;
    justify-content: center;
    transition:
        background-color 200ms vars.$ease-in-out-quint--custom,
        color 200ms vars.$ease-in-out-quint--custom;

    &:hover,
    &:focus:focus-visible {
        background-color: colors.get(neutral, light);
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        padding-right: vars.$spacing--xsmall;
    }

    &--primary {
        color: colors.$light;
        background-color: colors.get(primary, dark);

        &:hover,
        &:focus:focus-visible {
            background-color: mixins.shade(colors.get(primary, dark), 4%);
        }
        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--warning {
        color: colors.$light;
        background-color: colors.$warning;

        &:hover,
        &:focus:focus-visible {
            background-color: shade(colors.$warning, 6%);
        }
        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--small {
        @include mixins.font-size(small);
        padding: 11px 18px;
    }

    &--subtle {
        background-color: transparent;
        width: fit-content;
        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }
    }

    &--icon-only {
        padding: 14px;
        background-color: transparent;
        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }
        #{$this}__icon {
            padding: 0;
        }
        &#{$this}--small {
            padding: 8px;
            height: 35px;
            width: 35px;
        }
    }

    // &--large {
    //     // TODO: Do we really need this?
    // }
}
