@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.button {
    $this: &;
    @include mixins.font-size(base);
    --tooltip-size: 40px;
    display: inline-flex;
    padding: 14px 20px;
    border-radius: vars.$border-radius;
    background-color: colors.get(neutral, light);
    align-items: center;
    justify-content: center;

    @include mixins.min-width(sm) {
        padding: 14px 24px;
    }

    &:hover,
    &:focus:focus-visible {
        background-color: colors.get(neutral, base);

        #{$this}__tooltip {
            opacity: 1;
            transform: none;
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        padding-right: vars.$spacing--xsmall;

        &--only-on-mobile {
            display: none;

            @include mixins.max-width(sm) {
                display: inline-flex;
                padding: 0;
                flex-shrink: 0;
            }
        }
    }

    &__tooltip {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        position: absolute;
        display: flex;
        align-items: center;
        top: calc(100% + 5px);
        padding: 4px 14px;
        min-height: var(--tooltip-size);
        left: calc(50% - max-content / 2);
        width: max-content;
        border-radius: vars.$border-radius;
        color: colors.$text;
        background-color: colors.$info;
        filter: drop-shadow(0 3px 14px rgba(0, 0, 0, 0.1));

        &:before {
            $size: 10px;
            content: '';
            position: absolute;
            width: $size;
            height: $size;
            top: -($size / 2);
            left: calc(50% - #{$size / 2});
            background-color: inherit;
            transform: rotate(45deg);
        }
    }

    &--primary {
        color: colors.$light;
        background-color: colors.get(primary, dark);

        &:hover,
        &:focus:focus-visible {
            background-color: colors.shade(colors.get(primary, dark), 4%);
            color: colors.$light;
        }

        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--warning {
        color: colors.$light;
        background-color: colors.$warning;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.shade(colors.$warning, 6%);
            color: colors.$light;
        }

        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--small {
        @include mixins.font-size(small);
        padding: 11px 18px;
    }

    &--large {
        width: 100%;
        padding: 14px 20px;
    }

    &--subtle {
        background-color: transparent;
        width: fit-content;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral-transparent, xlight);
        }
    }

    &--loading {
        background-color: colors.get(neutral, xlight);
        animation: loading 600ms vars.$ease-out-quart infinite;
        animation-direction: alternate-reverse;
        color: colors.$muted;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }
    }

    &--icon-only {
        padding: 14px;
        background-color: transparent;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }

        #{$this}__icon {
            padding: 0;
        }

        &#{$this}--small {
            padding: 8px;
            height: 35px;
            width: 35px;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    &--only-on-mobile {
        #{$this}__text {
            @include mixins.max-width(sm) {
                display: none;
            }
        }
    }

    &--toggle[aria-pressed='true'] {
        background-color: colors.get(primary, dark);
        color: colors.$light;
    }

    &--toggle[aria-pressed='true']#{$this}--subtle,
    &--toggle[aria-pressed='true']#{$this}--icon-only {
        background-color: colors.get(neutral, light);
        color: colors.$text;
    }

    &--tooltip {
        position: relative;
    }
}

@keyframes loading {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}
