@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.button {
    $this: &;
    @include mixins.font-size(base);
    display: inline-flex;
    padding: 14px 24px;
    border-radius: vars.$border-radius;
    background-color: colors.get(neutral, xlight);
    align-items: center;
    justify-content: center;
    transition:
        background-color 200ms vars.$ease-in-out-quint--custom,
        color 200ms vars.$ease-in-out-quint--custom;

    &:hover,
    &:focus:focus-visible {
        background-color: colors.get(neutral, light);
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        padding-right: vars.$spacing--xsmall;
        &--only-on-mobile {
            display: none;
        }
    }

    &--primary {
        color: colors.$light;
        background-color: colors.get(primary, dark);

        &:hover,
        &:focus:focus-visible {
            background-color: colors.shade(colors.get(primary, dark), 4%);
            color: colors.$light;
        }

        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--warning {
        color: colors.$light;
        background-color: colors.$warning;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.shade(colors.$warning, 6%);
            color: colors.$light;
        }

        &:disabled {
            background-color: colors.get(neutral);
            color: colors.$muted;
        }
    }

    &--small {
        @include mixins.font-size(small);
        padding: 11px 18px;
    }

    &--subtle {
        background-color: transparent;
        width: fit-content;
        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral-transparent, xlight);
        }
    }

    &--loading {
        background-color: colors.get(neutral, xlight);
        animation: loading 600ms vars.$ease-out-quart infinite;
        animation-direction: alternate-reverse;
        color: colors.$muted;
        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }
    }

    &--icon-only {
        padding: 14px;
        background-color: transparent;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, xlight);
        }

        #{$this}__icon {
            padding: 0;
        }

        &#{$this}--small {
            padding: 8px;
            height: 35px;
            width: 35px;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    @include mixins.max-width(sm) {
        &--only-on-mobile #{$this}__text {
            display: none;
        }
        &__icon--only-on-mobile {
            display: inline-flex;
            padding: 0;
        }
    }
    // &--large {
    //     // TODO: Do we really need this?
    // }
}

@keyframes loading {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}
