@use 'sass:color';
@use '@/styles/1_settings/mixins';
@use '@/styles/1_settings/colors';
@use '@/styles/1_settings/vars';

.menu {
    $this: &;
    @include mixins.font-size(base);

    &__content {
        position: fixed;
        display: flex;
        gap: 0.8rem;
        padding: vars.$margin;
        flex-direction: column;
        left: 0;
        top: vars.$header-height;
        bottom: 0;
        width: vars.$menu-width;
        z-index: vars.$level-3;
        border-right: vars.$border-style;
        background-color: colors.$light;
        box-shadow: vars.$shadow;
        overflow-y: auto;

        @include mixins.entering {
            animation: enter 300ms vars.$ease-out-quart backwards;
        }

        @include mixins.exiting {
            animation: exit 300ms vars.$ease-in-out-quint--custom forwards;
        }

        outline: 0;
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin-bottom: vars.$spacing--small;
    }

    &__section-title {
        @include mixins.font(base, normal);
        @include mixins.font-size(small);
        color: colors.$muted;
        margin: 0;
        padding: 0;
    }

    &__section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem vars.$margin 0.4rem;
        margin-left: mixins.invert(vars.$margin);
        margin-right: mixins.invert(vars.$margin);
        border-top: vars.$border-style--weak;
    }

    &__label {
        flex-grow: 1;
        text-align: left;
    }

    &__tag {
        @include mixins.font(base, normal);
        @include mixins.font-size(small);
        color: colors.$muted;
        text-align: right;
    }

    &__link {
        @include mixins.font-size(base);
        $padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px $padding;
        margin-left: -($padding);
        margin-right: -($padding);
        background-color: transparent;
        border-radius: vars.$border-radius;

        &:hover,
        &:focus:focus-visible {
            background-color: colors.get(neutral, light);
        }
    }

    &__label {
        flex-grow: 1;
        text-align: left;
    }

    &__backdrop {
        position: fixed;
        top: vars.$header-height;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: vars.$level-3 - 2;
        background-color: rgba(white, 0.4);

        @include mixins.entering {
            animation: fade-in 300ms vars.$ease-out-quart backwards;
        }

        @include mixins.exiting {
            animation: fade-out 300ms vars.$ease-in-out-quint--custom forwards;
        }
    }

    &--header-message-visible {
        #{$this}__content,
        #{$this}__backdrop {
            top: calc(vars.$header-height * 2);
        }
    }
}

@keyframes enter {
    from {
        transform: translateX(-100%);
    }
}

@keyframes exit {
    to {
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}
