@use '@/styles/1_settings/vars';

.page-simple {
    $this: &;
    padding: vars.$spacing--large 0;

    &__title {
        border-bottom: vars.$border-style;
        padding-bottom: vars.$spacing--small;
        margin-bottom: vars.$spacing--small;
    }
}
